@import '../../css/functions';
@import '../../css/colors';

.col-centered{
  float: none;
  margin: 0 auto;
}
form{
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  letter-spacing: 2px;
  color: $font;
  label{
    font-weight: 300;
  }
  input{
    min-height: 45px;
    text-align: center;
  }
  .tags{
    float: left;
    width: 100%;
    .tag{
      @include transition(opacity .3s ease);
      cursor: pointer;
      background: $yellow;
      float: left;
      line-height: 25px;
      height: 25px;
      text-align: center;
      margin: 5px;
      color: $font;
      opacity: .5;
      &.active, &:hover{
        opacity: 1;
      }
    }
  }
  .btn-submit{
    margin: 20px auto 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 45px;
    width: 100%;
    letter-spacing: 2px;
    color: white;
    border: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: rgba($purple,.8);
    @include transition(background .3s ease);
    &:hover{
      background: $purple;
    }
    i{
      font-size: 20px;
      position: relative;
      top: 2px;
      left: 5px;
    }
  }
}
