header.text-center
  .logo
  h1 pitu.to
  p 
    | Ingresa tus datos para añadirte a nuestro team 
    a(href='https://pituto.slack.com', target='_blank')
      | pituto.slack.com.
    br
    | Te tenemos un pituto ;)