@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
@import './core/css/logo';

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600');

body,
html{
  color: $font;
  background: $clouds;
}
a{
  @include transition(all .3s ease);

  color: rgba($link,.7);
  &:hover{
    color: $link;
  }
}
.glyphicon{
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
  content: '\f053';
}
.glyphicon-chevron-right:before{
  content: '\f054';
}
